requests~=2.32.3
paddleocr~=2.9.1
openai~=1.60.1
tqdm~=4.67.1
transformers>=4.37.0
torch~=2.5.1
datasets~=3.2.0
peft~=0.14.0
tensorboard
gradio~=5.15.0
langchain~=0.3.15
googlemaps~=4.10.0
langgraph~=0.2.67
langchain-core~=0.3.31
pydantic~=2.10.6